.best-header .van-nav-bar__content {
  height: 44px;
}
.best-header .van-tabs__nav {
  padding-left: 5px;
}
.best-header .van-tabs__nav .van-tab {
  width: 74px;
  padding: 0;
  font-size: 12px;
}
.best-header .van-tabs__nav .van-tab:first-child {
  width: auto;
  margin-right: 27px;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mine .van-nav-bar__content {
  height: 50px;
}
.mine .van-nav-bar__content div {
  font-size: 22px;
  font-weight: 600;
}
.mine .van-hairline--bottom::after {
  display: none;
}
.mypage-tip {
  width: 100%;
  font-size: 22px;
  height: 49px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #f0efef;
  z-index: 99;
  font-weight: 600;
}
.mypage-sco {
  display: none;
  color: red;
}
.haswish .goods-card {
  margin: 0;
  background-color: #fff;
}
.haswish .delete-button {
  height: 100%;
}
.haswish .update-button {
  height: 100%;
  background: #39828C;
}
.haswish .van-swipe-cell__left {
  padding: 40px 10px;
}
.haswish .van-swipe-cell__wrapper {
  margin-left: 40px;
}
.hasaddress .van-address-item .van-radio__icon--checked .van-icon {
  background: #39828C;
  border-color: #39828C;
}
.hasaddress .van-button--danger {
  background: #39828C;
  border-color: #39828C;
}
.addressedit .addresseditmain .van-button--danger {
  background: #39828C;
  border-color: #39828C;
}
.updatemsg .van-cell__left-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #39828C;
  overflow: hidden;
}
.updatemsg .van-cell__left-icon .van-icon__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.van-dialog__message {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: black;
}
.bestdetail .my-swipe .van-swipe-item {
  height: 415px!important;
}
.holiday .checkin .van-icon-arrow {
  vertical-align: middle;
}
.collapse .van-cell__title span {
  line-height: 52px;
  font-size: 16px;
  font-weight: 500;
}
.collapse .van-cell__right-icon {
  font-size: 24px;
  vertical-align: middle;
  line-height: 52px;
}
.van-tab__pane {
  padding-top: 17px;
}
