html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none!important;
  color:black;
}

body{
  font: 14px/1.5 Helvetica,Tahoma,Arial,Hiragino Sans GB,Microsoft YaHei,SimSun,Heiti,sans-serif;
}
i,em{
  font-style:normal
}
b,strong{
  font-weight:normal
}
li{
  list-style-type:none
}
