.best-header {
  .van-nav-bar__content {
    height: 44px;
  }
  .van-tabs__nav {
    .van-tab {
      width: 74px;
      padding: 0;
      font-size: 12px;
    }
  }
}
//我的页头部标题样式
//我的页面中所有子页面头部样式
.mypage-tip {
  width: 100%;
  font-size: 22px;
  height: 49px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid rgb(240, 239, 239);
  z-index: 99;
  font-weight: 600;
}
.mypage-sco {
  display: none;
  color: red;
}
.ppp {
  color: red;
}