.best-header {
  .van-nav-bar__content {
    height: 44px;
  }
  .van-tabs__nav {
    .van-tab {
      width: 74px;
      padding: 0;
      font-size: 12px;
    }
  }
}
@button-color: #39828C;

//我的页头部标题样式
.mine{
  .van-nav-bar__content {
    height: 50px;
    div {
      font-size: 22px;
      font-weight: 600;
      // display: none;
    }
  }
  .van-hairline--bottom::after {
    display: none;
  }
}


//臻品详情的客服提示框
.van-dialog__message{
  font-size: 18px;
  padding-top:20px;
  padding-bottom: 15px;
  color:black;
}

//人文假日的banner高
.holiday{
  .my-swipe{
    .van-swipe-item {
      height:260px!important;
    } 
  }
  .checkin{
    .van-icon-arrow{
      vertical-align: middle;
    }
  }
  
}  

//Collapse折叠面板组件
.collapse{
    .van-cell__title{
      span{
        line-height: 52px;
        font-size: 16px;
        font-weight: 500;
      }
    } 
    .van-cell__right-icon{
      font-size: 24px;
      vertical-align: middle;
      line-height: 52px;
    }
}